global:
  imageRegistry: ""
  imagePullSecrets: []
  defaultStorageClass: {{ coalesce .Values.pvc.keycloak.keycloak.storageClass .Values.pvc.default.storageClass | quote }}
  security:
    allowInsecureImages: true
  compatibility:
    openshift:
      adaptSecurityContext: auto


clusterDomain: {{ .Values.cluster.networking.domain | default "cluster.local" | quote }}

extraDeploy:
  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app.kubernetes.io/component: {{ .Release.Name }}-cli
        app.kubernetes.io/name: {{ .Release.Name }}-cli
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: 1.0.0
        app.kubernetes.io/managed-by: Helm
      name: {{ .Release.Name }}-cli
    spec:
      egress:
      - {}
      podSelector:
        matchLabels:
          app.kubernetes.io/component: keycloak-config-cli
      policyTypes:
      - Egress

image:
  registry: {{ coalesce .Values.container.keycloak.registry .Values.container.default.registry | default "docker.io" | quote }}
  repository:  {{ .Values.container.keycloak.repository | default "bitnami/keycloak" | quote }}
  tag: {{ .Values.container.keycloak.tag | default "26.2.5-debian-12-r3" | quote }}
  pullPolicy: Always
  {{- with (coalesce .Values.container.keycloak.imagePullSecret .Values.container.default.imagePullSecret) }}
  pullSecrets:
    - {{ . | quote }}
  {{- end }}


auth:
  adminUser: {{ .Values.secret.keycloak.adminUser | quote }}
  adminPassword: {{ .Values.secret.keycloak.adminPassword | quote }}



production: true
proxyHeaders: "xforwarded"
httpEnabled: true

podSecurityContext:
  {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}

containerSecurityContext:
  {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}

resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.keycloak .Values.global.resourcesPreset | quote }}

resources: {{ .Values.resource.keycloak.keycloak | default dict | toYaml | nindent 2 }}
## Configure extra options for Keycloak containers' liveness, readiness and startup probes
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
## @param livenessProbe.enabled Enable livenessProbe on Keycloak containers
## @param livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
## @param livenessProbe.periodSeconds Period seconds for livenessProbe
## @param livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
## @param livenessProbe.failureThreshold Failure threshold for livenessProbe
## @param livenessProbe.successThreshold Success threshold for livenessProbe
##
livenessProbe:
  enabled: true
  initialDelaySeconds: 300
  periodSeconds: 1
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
## @param readinessProbe.enabled Enable readinessProbe on Keycloak containers
## @param readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
## @param readinessProbe.periodSeconds Period seconds for readinessProbe
## @param readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
## @param readinessProbe.failureThreshold Failure threshold for readinessProbe
## @param readinessProbe.successThreshold Success threshold for readinessProbe
##
readinessProbe:
  enabled: true
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1
## When enabling this, make sure to set initialDelaySeconds to 0 for livenessProbe and readinessProbe
## @param startupProbe.enabled Enable startupProbe on Keycloak containers
## @param startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
## @param startupProbe.periodSeconds Period seconds for startupProbe
## @param startupProbe.timeoutSeconds Timeout seconds for startupProbe
## @param startupProbe.failureThreshold Failure threshold for startupProbe
## @param startupProbe.successThreshold Success threshold for startupProbe
##
startupProbe:
  enabled: false
  initialDelaySeconds: 30
  periodSeconds: 5
  timeoutSeconds: 1
  failureThreshold: 60
  successThreshold: 1
## @param customLivenessProbe Custom Liveness probes for Keycloak
##
customLivenessProbe: {}
## @param customReadinessProbe Custom Rediness probes Keycloak
##
customReadinessProbe: {}
## @param customStartupProbe Custom Startup probes for Keycloak
##
customStartupProbe: {}
## @param lifecycleHooks LifecycleHooks to set additional configuration at startup
##
lifecycleHooks: {}
## @param automountServiceAccountToken Mount Service Account token in pod
##
automountServiceAccountToken: false
## @param hostAliases Deployment pod host aliases
## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
##
hostAliases: []
## @param podLabels Extra labels for Keycloak pods
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
##
podLabels: {}
## @param podAnnotations Annotations for Keycloak pods
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
##
podAnnotations: {}
## @param podAffinityPreset Pod affinity preset. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
##
podAffinityPreset: ""
## @param podAntiAffinityPreset Pod anti-affinity preset. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
##
podAntiAffinityPreset: soft
## Node affinity preset
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
##
nodeAffinityPreset:
  ## @param nodeAffinityPreset.type Node affinity preset type. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
  ##
  type: ""
  ## @param nodeAffinityPreset.key Node label key to match. Ignored if `affinity` is set.
  ## E.g.
  ## key: "kubernetes.io/e2e-az-name"
  ##
  key: ""
  ## @param nodeAffinityPreset.values Node label values to match. Ignored if `affinity` is set.
  ## E.g.
  ## values:
  ##   - e2e-az1
  ##   - e2e-az2
  ##
  values: []
## @param affinity Affinity for pod assignment
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
##
affinity: {}
## @param nodeSelector Node labels for pod assignment
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
##
nodeSelector: {}
## @param tolerations Tolerations for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: [
  node-role.kubernetes.io/master: NoSchedule
- key: "key1"
  operator: "Equal"
  value: "value1"
  effect: "NoSchedule"

]
## @param topologySpreadConstraints Topology Spread Constraints for pod assignment spread across your cluster among failure-domains. Evaluated as a template
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#spread-constraints-for-pods
##
topologySpreadConstraints: []
## @param podManagementPolicy Pod management policy for the Keycloak statefulset
##
podManagementPolicy: Parallel
## @param priorityClassName Keycloak pods' Priority Class Name
## ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
##
priorityClassName: ""
## @param schedulerName Use an alternate scheduler, e.g. "stork".
## ref: https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
##
schedulerName: ""
## @param terminationGracePeriodSeconds Seconds Keycloak pod needs to terminate gracefully
## ref: https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods
##
terminationGracePeriodSeconds: ""
## @param updateStrategy.type Keycloak statefulset strategy type
## @param updateStrategy.rollingUpdate Keycloak statefulset rolling update configuration parameters
## ref: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#update-strategies
##
updateStrategy:
  type: RollingUpdate
  rollingUpdate: {}
## @param minReadySeconds How many seconds a pod needs to be ready before killing the next, during update
##
minReadySeconds: 0
## @param extraVolumes Optionally specify extra list of additional volumes for Keycloak pods
##
extraVolumes: []
## @param extraVolumeMounts Optionally specify extra list of additional volumeMounts for Keycloak container(s)
##
extraVolumeMounts: []
## @param initContainers Add additional init containers to the Keycloak pods
## Example:
## initContainers:
##   - name: your-image-name
##     image: your-image
##     imagePullPolicy: Always
##     ports:
##       - name: portname
##         containerPort: 1234
##
initContainers: []
## @param sidecars Add additional sidecar containers to the Keycloak pods
## Example:
## sidecars:
##   - name: your-image-name
##     image: your-image
##     imagePullPolicy: Always
##     ports:
##       - name: portname
##         containerPort: 1234
##
sidecars: []
## @section Exposure parameters
##

ingress:
  enabled: true
  ingressClassName: {{.Values.cluster.ingress.className | quote }}
  pathType: ImplementationSpecific
  hostname: {{ .Values.global.hostname.keycloak }}.{{ .Values.global.domain }}
  annotations:
    {{- if .Values.cluster.ingress.annotations }}
    {{ .Values.cluster.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "haproxy-openshift" }}
    haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: '{{ .Release.Namespace }}-hsts-header@kubernetescrd'
    {{- end }}

  tls: {{ .Values.global.tls.enabled | default true }}
  selfSigned: {{ and .Values.global.tls.enabled .Values.global.tls.selfSigned | default false }}
  extraTls: {{ .Values.tls.keycloak | toYaml | nindent 4 }}

networkPolicy:
  enabled: true
  extraIngress:
    - from:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: {{ .Release.Namespace }}
      - podSelector:
          matchLabels:
            app.kubernetes.io/component: keycloak-config-cli
            app.kubernetes.io/name: keycloak
      ports:
          - port: 7800
          - port: 8080

autoscaling:
  enabled: {{ .Values.autoscaling.horizontal.keycloak.enabled }}
  minReplicas: {{ .Values.autoscaling.horizontal.keycloak.minReplicas }}
  maxReplicas: {{ .Values.autoscaling.horizontal.keycloak.maxReplicas }}
  targetCPU: {{ .Values.autoscaling.horizontal.keycloak.targetCPU }}
  targetMemory: {{ .Values.autoscaling.horizontal.keycloak.targetMemory }}

pdb: {{ .Values.pdb.keycloak | toYaml | nindent 2 }}

metrics:
  enabled: {{ .Values.metric.enabled | default false  }}
  serviceMonitor:
    enabled:  {{ .Values.metric.serviceMonitor.enabled | default false  }}
  prometheusRule:
    enabled: {{ .Values.metric.prometheusRule.enabled | default false  }}


keycloakConfigCli:
  enabled: true
  image:
    registry: {{ coalesce .Values.container.keycloak_cli.registry .Values.container.default.registry | default "docker.io" | quote }}
    repository:  {{ .Values.container.keycloak_cli.repository | default "bitnami/keycloak-config-cli" | quote }}
    tag: {{ .Values.container.keycloak_cli.tag | default "6.4.0-debian-12-r8" | quote }}
    pullPolicy: Always
    {{- with (coalesce .Values.container.keycloak_cli.imagePullSecret .Values.container.default.imagePullSecret) }}
    pullSecrets:
      - {{ . | quote }}
    {{- end }}
  annotations:
    helm.sh/hook-delete-policy: "hook-succeeded,before-hook-creation"
    helm.sh/hook-weight: "5"
  resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.keycloak .Values.global.resourcesPreset | quote }}

  resources: {{ .Values.resource.keycloak.keycloak | default dict | toYaml | nindent 4 }}
  containerSecurityContext:
    {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}
  podSecurityContext:
    {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}
  configuration:
    master.json: |
      {
        "realm" : "master",
        "attributes": {
          "frontendUrl": "https://{{ .Values.global.hostname.keycloak }}.{{ .Values.global.domain }}"
        }
      }
    mijnbureau.json: |
      {
        "realm" : "mijnbureau",
        "displayName": "Mijn Bureau",
        "displayNameHtml": "<b>Mijn Bureau</b>",
        "defaultSignatureAlgorithm": "RS256",
        "enabled" : true,
        "revokeRefreshToken": true,
        "editUsernameAllowed": false,
        "registrationAllowed": false,
        "duplicateEmailsAllowed": false,
        "rememberMe": true,
        "loginWithEmailAllowed": true,
        "bruteForceProtected": true,
        "permanentLockout": false,
        "maxTemporaryLockouts": 0,
        "bruteForceStrategy": "LINEAR",
        "maxFailureWaitSeconds": 900,
        "minimumQuickLoginWaitSeconds": 60,
        "waitIncrementSeconds": 60,
        "quickLoginCheckMilliSeconds": 1000,
        "maxDeltaTimeSeconds": 43200,
        "failureFactor": 30,
        "clients": [
          {
            "clientId": "{{ .Values.authentication.client.grist.client_id }}",
            "name": "Grist",
            "description": "Smart spreadsheets with Grist",
            "rootUrl": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}/o/docs/admin",
            "baseUrl": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.grist.client_secret | quote }},
            "redirectUris": [
              "/oauth2/callback"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}/o/docs/logout?next=/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.synapse.client_id }}",
            "name": "Chat",
            "description": "Matrix-based chat with Synapse",
            "rootUrl": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.synapse.client_secret | quote }},
            "redirectUris": [
              "/_synapse/client/oidc/callback"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}/_synapse/client/oidc/backchannel_logout",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.session.required": "true",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}/*"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.meet.client_id }}",
            "name": "Meet",
            "description": "livekit-based video conferencing with Meet",
            "rootUrl": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.meet.client_secret | quote }},
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.conversations.client_id }}",
            "name": "Conversations",
            "description": "AI assistant with LaSuite conversations",
            "rootUrl": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.conversations.client_secret | quote }},
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.drive.client_id }}",
            "name": "Drive",
            "description": "AI assistant with LaSuite drive",
            "rootUrl": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.drive.client_secret | quote }},
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.nextcloud.client_id }}",
            "name": "NextCloud",
            "description": "File storage and collaboration platform",
            "rootUrl": "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.nextcloud.client_secret | quote }},
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}/index.php/apps/user_oidc/backchannel-logout/keycloak",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.session.required": "true",
              "post.logout.redirect.uris": "+"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.openproject.client_id }}",
            "name": "OpenProject",
            "description": "File storage and collaboration platform",
            "rootUrl": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.openproject.client_secret | quote }},
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}/auth/oidc-keycloak/backchannel-logout",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.session.required": "true",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}/*"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.docs.client_id }}",
            "name": "Docs",
            "description": "Docs - Eenvoudig samenwerken aan documenten",
            "rootUrl": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}",
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.docs.client_secret | quote }},
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.bureaublad.client_id }}",
            "name": "bureaublad",
            "description": "Mijn Bureau bureaublad",
            "rootUrl": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.bureaublad.client_secret | quote }},
            "redirectUris": [
              "/api/v1/auth/callback"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}/api/v1/auth/logout",
              "standard.token.exchange.enabled": "true",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}/api/v1/auth/logout",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          }
        ],
        "defaultRoles": ["offline_access", "uma_authorization", "tokenexchange-role"],
        "roles": {
          "realm": [
            {
              "name": "tokenexchange-role",
              "description": "Allow bureaublad clients to exchange tokens",
              "composite": true,
              "composites": {
                "client": {
                  "{{ .Values.authentication.client.docs.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.openproject.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.nextcloud.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.drive.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.conversations.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.meet.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.synapse.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.grist.client_id }}": ["token-exchange-role"]
                }
              },
              "clientRole": false,
              "attributes": {}
            }
          ],
          "client": {
            "{{ .Values.authentication.client.grist.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.synapse.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.meet.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.conversations.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.drive.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.nextcloud.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.docs.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.openproject.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ]
          }
        },
        {{- if eq .Environment.Name "demo" }}
        "users" : [
          {{- $users := .Values.user }}
          {{- range $index, $user := $users }}
          {
            "username" : {{ $user.username | quote }},
            "firstName" : {{ $user.firstname | quote }},
            "lastName" : {{ $user.lastname | quote }},
            "email" : {{ $user.email | quote }},
            "emailVerified" : true,
            "credentials" : [ {
              "type" : "password",
              "value": {{ $user.password | quote }},
              "temporary": false
            } ],
            "enabled" : true
          }{{- if lt $index (sub (len $users) 1) }},{{- end }}
          {{- end }}
        ],
        {{- end }}
        "internationalizationEnabled": true,
        "eventsEnabled": true,
        "eventsExpiration": 86400,
        "adminEventsEnabled": true,
        "supportedLocales": [
          "en",
          "{{ .Values.global.defaultLocale }}"
        ],
        "defaultLocale": "{{ .Values.global.defaultLocale }}"
      }

postgresql:
  enabled: false

externalDatabase:
  host: {{ .Values.database.keycloak.host | quote }}
  port: {{ .StateValues.database.keycloak.port | quote }}
  user: {{ .StateValues.database.keycloak.user | quote }}
  database: {{ .StateValues.database.keycloak.name | quote }}
  password: {{ .StateValues.database.keycloak.password | quote }}


defaultInitContainers:
  prepareWriteDirs:
    containerSecurityContext: {{ .Values.security.default.containerSecurityContext | toYaml | nindent 6 }}
    resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.keycloak .Values.global.resourcesPreset | quote }}
