global:
  domain: "apps.bzk-openbsw-001.gn2.ssc.rijksapps.nl"
  resourcesPreset: "small"

cluster:
  networking:
    domain: cluster.local
    podSubnet:
      - "10.0.0.0/14"
    serviceSubnet:
      - "172.30.0.0/16"

  ingress:
    type: haproxy-openshift
    annotations:
      haproxy.router.openshift.io/ip_whitelist: 0.0.0.0/0

authentication:
  oidc:
    issuer: https://id.pps.bzk-openbsw-001.gn2.ssc.rijksapps.nl/realms/mijnbureau
    authorization_endpoint: https://id.pps.bzk-openbsw-001.gn2.ssc.rijksapps.nl/realms/mijnbureau/protocol/openid-connect/auth
    token_endpoint: https://id.pps.bzk-openbsw-001.gn2.ssc.rijksapps.nl/realms/mijnbureau/protocol/openid-connect/token
    introspection_endpoint: https://id.pps.bzk-openbsw-001.gn2.ssc.rijksapps.nl/realms/mijnbureau/protocol/openid-connect/token/introspect
    userinfo_endpoint: https://id.pps.bzk-openbsw-001.gn2.ssc.rijksapps.nl/realms/mijnbureau/protocol/openid-connect/userinfo
    end_session_endpoint: https://id.pps.bzk-openbsw-001.gn2.ssc.rijksapps.nl/realms/mijnbureau/protocol/openid-connect/logout
    jwks_uri:	https://id.pps.bzk-openbsw-001.gn2.ssc.rijksapps.nl/realms/mijnbureau/protocol/openid-connect/certs

resource:
  livekit:
    livekit:
      requests:
        memory: "2Gi"
        cpu: "1000m"
      limits:
        memory: "4Gi"
        cpu: "2000m"
    redis:
      requests:
        memory: "2Gi"
        cpu: "1000m"
      limits:
        memory: "4Gi"
        cpu: "2000m"

security:
  default:
    containerSecurityContext:
      enabled: false

    podSecurityContext:
      enabled: false

application:
  grist:
    enabled: false
    namespace: mijn-bureau-grist

  ollama:
    enabled: false
    namespace: mijn-bureau-ollama

  keycloak:
    enabled: false
    namespace: mijn-bureau-id

  element:
    enabled: false
    namespace: mijn-bureau-element

  nextcloud:
    enabled: false
    namespace: mijn-bureau-nextcloud

  collabora:
    enabled: false
    namespace: mijn-bureau-collabora
    enableInsecureCollWSD: true

  livekit:
    enabled: true
    namespace: mijn-bureau-livekit

  meet:
    enabled: false
    namespace: mijn-bureau-meet

  conversations:
    enabled: false
    namespace: mijn-bureau-conversations

  docs:
    enabled: false
    namespace: mijn-bureau-docs

  bureaublad:
    enabled: false
    namespace: mijn-bureau-bureaublad

  drive:
    enabled: false
    namespace: mijn-bureau-drive

  clamav:
    enabled: false
    namespace: mijn-bureau-clamav

tls:
  keycloak:
    - {}
  grist:
    - {}
  synapse:
    - {}
  element:
    - {}
  nextcloud:
    - {}
  collabora:
    - {}
  livekit:
    - {}
  meet:
    - {}
  conversations:
    - {}
  docs:
    - {}
  bureaublad:
    - {}
  drive:
    - {}

autoscaling:
  horizontal:
    livekit:
      minReplicas: 3
      maxReplicas: 3

pvc:
  livekit:
    redis:
      size: 16Gi
